# Types of Inheritance:

## Single Inheritance:

In [4]:
class Parent:
     def func1(self):
          print("this is function one")
class Child(Parent):
     def func2(self):
          print(" this is function 2 ")
ob = Child()
ob.func1()
ob.func2()

this is function one
 this is function 2

## Multiple Inheritance:

In [5]:
class Parent:
   def func1(self):
        print("this is function 1")
class Parent2:
   def func2(self):
        print("this is function 2")
class Child(Parent , Parent2):
    def func3(self):
        print("this is function 3")
 
ob = Child()
ob.func1()
ob.func2()
ob.func3()

this is function 1
this is function 2
this is function 3

## Multilevel Inheritance:

In [11]:
class Parent:
      def func1(self):
          print("this is function 1")
class Child(Parent):
      def func2(self):
          print("this is function 2")
class Child2(Child):
      def func3(child):
          print("this is function 3")
ob = Child2()
ob.func1()
ob.func2()
ob.func3()

this is function 1
this is function 2
this is function 3

## Hierarchical Inheritance:

In [12]:
class Parent:
      def func1(self):
          print("this is function 1")
class Child(Parent):
      def func2(self):
          print("this is function 2")
class Child2(Parent):
      def func3(self):
          print("this is function 3")
 
ob = Child()
ob1 = Child2()
ob.func1()
ob.func2()

this is function 1
this is function 2

## Hybrid Inheritance:

In [16]:
class School:
    def func1(self):
        print("This function is in school.")
 
 
class Student1(School):
    def func2(self):
        print("This function is in student 1. ")
 
 
class Student2(School):
    def func3(self):
        print("This function is in student 2.")
 
 
class Student3(Student1, School):
    def func4(self):
        print("This function is in student 3.")
 
object = Student3()
object.func1()
object.func2()

This function is in school.
This function is in student 1.

# Exception Handling:

In [17]:
# 01 Zero Division error:
try:
    a = 10
    b = 0
    c = a/b
    print("The answer of a divide by b:", c)
except:
    print("Can't divide with zero. Provide different number")

Can't divide with zero. Provide different number

In [24]:
# 02 Assertion Error:
try:
    a = 5
    b = 5
    assert a != b
except AssertionError:
    if a==b:
        print("TRUE")
print ("Success, no error!")

TRUE
Success, no error!

In [25]:
# 03 name error:
try:
    print(y)
except:
    print('name error is occured')

name error is occured

In [29]:
# 04 file error:
try: 
   fp = open("test.txt", "r")
   if fp:
       print("file is opened successfully")
except:
    print('file error has occured')

file error has occured

In [28]:
# 05 indentation error:
try:
 print("a")
 print("Learn Python")
except:
    print('indentation error has occured')

a
Learn Python

In [32]:
#6.
def fun(a):
    if a < 4:
# throws ZeroDivisionError for a = 3
       b = a/(a-3)
# throws NameError if a >= 4
    print("Value of b = ", b)
try:
    fun(2)
    fun(5)
# note that braces () are necessary here for
# multiple exceptions
except ZeroDivisionError:
    print("ZeroDivisionError Occurred and Handled")
except NameError:
    print("NameError Occurred and Handled")

Value of b =  -2.0
NameError Occurred and Handled

# Regular Expression:

In [34]:
# 01 re.findall():
# Program to extract numbers from a string

import re

string = 'hello 12 hi 89. Howdy 34'
pattern = '\d+'

result = re.findall(pattern, string) 
print(result)

['12', '89', '34']

In [35]:
# 02 re.split()

import re

string = 'Twelve:12 Eighty nine:89.'
pattern = '\d+'

result = re.split(pattern, string) 
print(result)

['Twelve:', ' Eighty nine:', '.']

In [37]:
# 03 re.sub():

# Program to remove all whitespaces
import re

# multiline string
string = 'abc 12\
de 23 \n f45 6'

# matches all whitespace characters
pattern = '\s+'

# empty string
replace = ''

new_string = re.sub(pattern, replace, string) 
print(new_string)

abc12de23f456

In [39]:
# 04 re.subn()

# Program to remove all whitespaces
import re

# multiline string
string = 'abc 12\
de 23 \n f45 6'

# matches all whitespace characters
pattern = '\s+'

# empty string
replace = ''

new_string = re.subn(pattern, replace, string) 
print(new_string)

('abc12de23f456', 4)

# Numpy - Aggregate Functions:

In [42]:
# sum():
import numpy as np
arr=np.array([[10,20,30,40,50],[60,70,80,90,100]])
x=arr.sum()
print(x)

550

In [43]:
# max():
x=arr.max()
print(x)

100

In [45]:
# min():
x=arr.min()
print(x)

10

In [48]:
# avg():
x=np.average(arr)
print(x)

55.0

In [50]:
# mean():
x=arr.mean()
print(x)

55.0

In [52]:
# argmax():
x=arr.argmax()
print(x)

9

In [53]:
# argmin():
x=arr.argmin()
print(x)

0

In [55]:
# arr.var():
x=arr.var()
print(x)

825.0

# Comparing - Mask & Boolean:

In [57]:
#Masking
import numpy.ma as ma
m = np.zeros(4)
m
x=np.array([1., 1., 1., 1.])
ma.make_mask(m)
False
ma.make_mask(m, shrink=True)
np.array([True, True, True, True])

array([ True,  True,  True,  True])

In [58]:
#Comparisons
# <
a=np.array([100,45,68,35,90,34])
print(a)
x=a<40
print('1.',x)
# >
print('\n2.',a>40)
# ==
print('\n3.',a==45)
# <=
print('\n4.',a<=40)
# >=
print('\n5.',a>=40)
# !=
print('\n6.',a!=67)

[100  45  68  35  90  34]
1. [False False False  True False  True]

2. [ True  True  True False  True False]

3. [False  True False False False False]

4. [False False False  True False  True]

5. [ True  True  True False  True False]

6. [ True  True  True  True  True  True]

# Bool

In [62]:
bool(20),bool(40)

(True, True)

In [63]:
bool(42 and 0)

False

In [64]:
bool(43 or 0)

True

# Bin:

In [65]:
bin(44)

'0b101100'

In [67]:
bin(1)

'0b1'

In [68]:
bin(80 & 0)

'0b0'

In [69]:
bin(90 | 0)

'0b1011010'

In [71]:
bin(44|2)

'0b101110'